# Node dependencies
node_modules/

# Compilados
dist/
build/

# TypeScript intermediário
*.tsbuildinfo

# Prisma
prisma/dev.db
prisma/dev.db-journal
prisma/migrations/
prisma/*.sqlite
prisma/*.log

# Ambiente local
.env
.env.*.local

# Logs e arquivos temporários
*.log
*.tmp
*.swp
*.swo

# Sistema operacional
.DS_Store
Thumbs.db

# Editor config
.vscode/
.idea/
